body{
    background-image: linear-gradient(360deg, #06214D, #3c819e,  #94DFFF, #71C6EB);
    background-attachment: fixed;
    padding: 50px;
    gap: 20px;
    
}
header {
    background-color: #564787;
    color: white;
    margin: auto;
    text-align: center;
    width: 610px;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.678);
}
footer {
    background-color: #564787;
    color: white;
    margin: auto;
    text-align: center;
    width: 600px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.678);
}

section {
    background-color: #F2FDFF;
    border-radius: 10px;
    padding: 15px;
    width: 600px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.678);
    border-radius: 10px;
}
h2, h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
}
th, tr, td {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #564787;
    font-size: 25px;
    padding: 10px;
}
a {
    text-decoration: none;
}

